{{log model}}
<div class="">
  Nome : {{model.name}}
</div>
<div class="">
  Descrição : {{model.description}}
</div>
<div class="">
  Empresa : {{model.company}}
</div>
<div class="">
  Começou em {{model.started_at}} e saiu em {{model.stopped_at}}
</div>
